
@{
    ViewData["Title"] = "Blog Detay";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                @await Component.InvokeAsync("_BlogDetailMainComponent", new { id = ViewBag.blogId })
                @await Component.InvokeAsync("_BlogDetailAuthorComponent")
                <div class="pt-5 mt-5">
                    @await Component.InvokeAsync("_BlogDetailCommentsComponent")
                    <!-- END comment-list -->
                    @await Component.InvokeAsync("_BlogDetailLeaveACommentComponent")
                </div>

            </div> <!-- .col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">
                @await Component.InvokeAsync("_BlogDetailSideBarSearchBoxComponent")
                @await Component.InvokeAsync("_BlogDetailCategoryListComponent")
                @await Component.InvokeAsync("_BlogDetailRecentBlogsComponent")
                @await Component.InvokeAsync("_BlogDetailTagCloudComponent", new { id = ViewBag.blogId })

               @*  <div class="sidebar-box ftco-animate">
                    <h3>Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div> *@
            </div>

        </div>
    </div>
</section>