@model UpdateAboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="card-title">Anasayfa Hakkımızda Alanı Düzenleme Formu</h4>
            <p class="card-subtitle mb-4">Anasayfa da bulunan hakkımızda alanındaki bilgileri güncellemek için bu formu kullanabilirsiniz. Bilgileri girdikten sonra "Güncelle" butonauna tıklayarak değişklikleri kaydedebilirsiniz.</p>
            <form method="post">
                <input type="hidden" asp-for="aboutId" />
                <div class="form-group">
                    <label>Başlık</label>
                    <input type="text" asp-for="title" class="form-control" />
                    <span asp-validation-for="title"></span>
                </div>
              
                <div class="form-group">
                    <label>Resim Url</label>
                    <input type="text" asp-for="imageUrl" class="form-control" />
                    <span asp-validation-for="imageUrl"></span>
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <textarea asp-for="description" class="form-control" rows="5" cols="5"></textarea>
                    <span asp-validation-for="description"></span>
                </div>
                <button type="submit" class="btn btn-primary waves-effect waves-light">Güncelle</button>
            </form>

        </div> <!-- end col -->
    </div>
</div>

