@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="card-title">Blog Kategori Formu</h4>
            <p class="card-subtitle mb-4">Bloglara ait yeni kategori eklemek için bu formu kullanabilirsiniz.</p><p> Veri girişi yaptıktan sonra "Kaydet" butonuna tıklayarak yeni kategori kaydı işlemini tamamlayabilirsiniz.</p>
            <form method="post">

                <div class="form-group">
                    <label>Kategori Adı</label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Yeni Kategori Adı Giriniz..." />
                    <span asp-validation-for="Name"></span>
                </div>

                <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
            </form>

        </div> <!-- end col -->
    </div>
</div>

