
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
    <div class="container-fluid">
        <div class="row">
        @await Component.InvokeAsync("DashboardTopStatisticsComponentPartial")
        </div>
        <!-- end row -->
        <div class="row">
        @await Component.InvokeAsync("DashboardChart1ComponentPartial")
        @await Component.InvokeAsync("DashboardChart2ComponentPartial")
        @await Component.InvokeAsync("DashboardChart3ComponentPartial")
        </div>
        <!-- end row-->
        <div class="row">
        @await Component.InvokeAsync("DashboardCarPricingListComponentPartial")
        @await Component.InvokeAsync("DashboardBlogListComponentPartial")
        </div>
    </div> <!-- container-fluid -->
